/*-----------------------------------------------------------------------------------

	Theme Name: M.J
	Theme URI: http://photobroad.webjyh.com/
	Description: A free, Superb picture theme. More features are added into this theme.
	Author: M.J
	Author URI: http://webjyh.com/
	Version: 1.0.0
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Tags: light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
	Text Domain: PhtotBroad
	This theme, like Pinterest, is licensed under the GPL.
	Use it to make something cool, have fun, and share what you've learned with others.

-----------------------------------------------------------------------------------

	0.	CSS Reset & Clearfix
	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
	2.	Header Styles
	3.	Main Content Styles
	4.	Post Content Styles
	5.	Comments
	6.	Pagination
	7.	Footer Styles
	8.	Page & Page Templates
	9.	Widgets
	10.	phzoom

-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------
	0.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
-----------------------------------------------------------------------------------*/

html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}h1,h2,h3,h4,h5,h6{margin:0px;}.clear{clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clearfix{display:inline-block;}.clearfix{display:block;}.none{display:none;}

/*-----------------------------------------------------------------------------------
	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
-----------------------------------------------------------------------------------*/
html{overflow-y:scroll;}body,select,textarea,input{font-size:12px;font-family:"Microsoft YaHei",tahoma,arial,simsun;}body{word-wrap:break-word;}img{vertical-align:top;}a img{border:none;}a,.enpty-home .item .pic .icon,.widge_pic ul li a img{outline:0;text-decoration:none;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}.aligncenter,div.aligncenter{display:block;margin-left:auto;margin-right:auto;}.alignleft{float:left;}.alignright{float:right;}.enpty-home{-webkit-transition:left .3s ease-in-out,top .3s ease-in-out;-moz-transition:left .5s ease-in-out,top .5s ease-in-out;-o-transition:left .3s ease-in-out,top .3s ease-in-out;transition:left .3s ease-in-out,top .3s ease-in-out;}body,a{color:#5B5B5B;}.navigation a:hover,.widget .tagcloud a:hover,.widget ul li a:hover,.comment-author a:hover,.commentlist .comment-body .comment-wrap a.comment-reply-link:hover,.enpty-home .info .itm a:hover{color:#CC3333;}.sch input,.enpty-home .info .icon,.single-navigation a,.header h1{background:url(images/icon.png) -999px -999px no-repeat;}.enpty-home .pic span{background:url(images/icon.png) -999px -999px no-repeat #C33;}.enpty-home .info .itm{background:url(images/icon.png) -999px -999px no-repeat #FFF;}.post-meta .meta{background:url(images/icon.png) -999px -999px no-repeat;}.primary,.widget,.comments{background:#fff;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f7f9fa),color-stop(100%,#fff));background:-webkit-linear-gradient(#f7f9fa,#fff);background:-moz-linear-gradient(#f7f9fa,#fff);background:-ms-linear-gradient(#f7f9fa,#fff);background:-o-linear-gradient(#f7f9fa,#fff);background:linear-gradient(#f7f9fa,#fff);}.body-bg{width:100%;height:100%;position:fixed;top:0;left:0;z-index:-2;background:url(images/body-bg-x.png) repeat;*background:none;}.no-result p,.no-result h1{text-align:center;font-weight:bold;padding:20px 0px 0px;}.no-result h1{font-size:16px;}.page-title{text-align:center;color:#333;padding:15px 0px 0px;font-size:360%;text-shadow:1px 2px 0 rgba(255,255,255,0.8);text-transform:capitalize;font-family:Radley,Georgia,"Times New Roman",Times,serif;font-weight:normal;}#nextpage{margin:10px auto;font-size:14px;padding:10px 0px;text-align:center;}#nextpage a{background:#4D90FE;border:1px solid #4D90FE;padding:5px 10px;display:inline-block;color:#FFF;}#infscr-loading{text-align:center;z-index:100;position:fixed;left:45%;bottom:40px;padding:10px;background:#000;opacity:0.8;filter:alpha(opacity=80);color:#FFF;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}

/*-----------------------------------------------------------------------------------
	2.	Header Styles
-----------------------------------------------------------------------------------*/

.top-bar{width:100%;height:12px;border-bottom:1px solid #6a6a6a;background-color:#3b3b3b;}.header{padding-top:58px;padding-bottom:5px ;width:100%;background:url(images/header.jpg) repeat;}.header h1{font-weight:normal;float:left;margin:0 25px 0 30px;padding:0 0 5px;background-position:0 -23px;background-repeat:repeat-x;}.header h1 a{display:inline-block;font-size:32px;color:#FFF;text-shadow:1px 1px 1px #000;}.menu{float:left;padding:8px 0 5px;margin-left:30px;}.menu li{float:left;margin:0 5px 0 0;position:relative;*z-index:10;}.menu a{float:left;display:block;height:35px;padding:0 20px;border-radius:3px;line-height:35px;color:#fff;font-size:13px;text-shadow:0 1px 1px rgba(0,0,0,0.8);-webkit-transition:background-color .1s linear;-moz-transition:background-color .1s linear;-ms-transition:background-color .1s linear;-o-transition:background-color .1s linear;transition:background-color .1s linear;}.menu a:hover,.menu a.current{background:#3b3b3b;box-shadow:0 1px 0 rgba(255,255,255,0.1),inset 0 1px 1px rgba(0,0,0,0.3);}.menu .current-menu-item a,.menu .current_page_item a{background:#4b4b4b;box-shadow:0 1px 0 rgba(255,255,255,0.1),inset 0 1px 1px rgba(0,0,0,0.3);}.menu .sub-menu{display:none;z-index:999;padding:10px 10px 0px;position:absolute;top:33px;left:0px;background:#3b3b3b;width:100px;text-align:center;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-top-right-radius:3px;overflow:hidden;}.menu .sub-menu li{margin-right:0px;margin-bottom:10px;float:none;}.menu .sub-menu li a{float:none;margin:0px;padding:0px;background:#3b3b3b;box-shadow:none;border-radius:0px;height:30px;line-height:30px;}.menu .sub-menu li a:hover{background:#4b4b4b;}.menu .sub-menu .current-menu-item a,.menu .current_page_item a{background:#4b4b4b;}.menu .current-menu-item .sub-menu,.menu .current_page_item .sub-menu{background:#4b4b4b;}.menu .current-menu-item .sub-menu a,.menu .current_page_item .sub-menu a{background:#4b4b4b;}.menu .current-menu-item .sub-menu a:hover,.menu .current_page_item .sub-menu a:hover{background:#3b3b3b;}.header .sch{float:right;margin-right:30px;}.header .sch input{background-position:140px 8px;width:126px;height:33px;margin:8px 0 0;padding:0 30px 0 8px;border-width:1px;border-style:solid;border-color:#424242 #424242 #6a6a6a #424242;color:#999;font-size:14px;line-height:33px;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;-webkit-transition-property:width,background;-moz-transition-property:width,background;-o-transition-property:width,background;-webkit-transition-duration:400ms;-moz-transition-duration:400ms;-o-transition-duration:400ms;}.header .sch input:focus{width:200px;background-position:214px 8px;}

/*-----------------------------------------------------------------------------------
	3.	Main Content Styles
-----------------------------------------------------------------------------------*/
.main{position:relative;margin:0px auto;padding:0px 10px 15px;}.single .main,.page .main{width:980px;padding:20px 0px;}.primary{float:left;width:720px;border:1px solid #B7BBC0;box-shadow:1px 2px 10px rgba(0,0,0,0.2);}.sidebar{float:right;width:240px;}.sidebar #sidebar-inner{width:240px;}.enpty-home .pic,.enpty-home .info{position:relative;}.goTop{display:none;position:fixed;right:5px;bottom:5px;width:54px;height:54px;}.goTop a{display:block;width:54px;height:54px;background:url(images/goTop.png) no-repeat;opacity:0.5;filter:alpha(opacity=50);}.goTop a:hover{opacity:1;filter:alpha(opacity=100);}.enpty-home{float:left;margin:15px 10px 0px;width:210px;left:-1000px;top:1000px;overflow:hidden;padding:10px;border:1px solid #D9D4D4;background:#FFF;box-shadow:rgba(34,25,25,0.2) 0px 1px 10px;}.enpty-home h2{font-size:13px;}.enpty-home .pic a{display:block;width:100%;height:100%;}.enpty-home .pic img{display:block;width:100%;}.enpty-home .pic span{display:none;z-index:10;border-radius:3px;width:26px;height:26px;overflow:hidden;position:absolute;right:10px;bottom:10px;}.enpty-home .pic .standard,.enpty-home .pic .image{background-position:5px -86px;}.enpty-home .pic .audio{background-position:1px -411px;}.enpty-home .pic .video{background-position:0px -441px;}.enpty-home .enpty-home-title{border-bottom:1px solid #ccc;padding-bottom:5px;}.enpty-home .enpty-home-title a{color:#CC3333;}.enpty-home .enpty-home-title a:hover{color:#5B5B5B;}.enpty-home .text{padding:5px 0px;line-height:1.8;}.enpty-home .info .icon{position:absolute;text-indent:-999em;width:25px;height:25px;bottom:0px;right:0px;}.enpty-home .info .itm,.post-meta .meta{line-height:19px;padding:0px 0px 0px 20px;}.enpty-home .info .hot,.post-meta .author{background-position:2px -183px;}.enpty-home .info .mess,.post-meta .mess{background-position:2px -138px;}.enpty-home .info .date,.post-meta .date{background-position:2px -160px;}.enpty-home .info .standard{background-position:0px -209px;}.enpty-home .info .image{background-position:0px -241px;}.enpty-home .info .audio{background-position:0px -279px;}.enpty-home .info .video{background-position:0px -311px;}

/*-----------------------------------------------------------------------------------
	4.	post
-----------------------------------------------------------------------------------*/
.post .aligncenter{display:block;margin-left:auto;margin-right:auto;}.post .post-header .post-title h1,.post .post-header .post-meta,.post .post-content,.post .post-header .post-meta a,.post .post-content,.post .post-content p a{color:#43474C;}.post .post-header .post-meta a:hover,.post .post-content p a:hover{color:#CC3333;}.post .post-header{padding:30px;}.post .post-header .post-avatar{width:48px;height:48px;overflow:hidden;float:left;padding:5px;border:1px solid #CCC;border-radius:3px;box-shadow:0 2px 4px rgba(0,0,0,0.1);}.post .post-header .post-title{margin:5px 0px 0px 70px;}.post .post-header .post-title h1{font-size:24px;font-weight:normal;margin-bottom:5px;line-height:1.1;padding-left:7px;}.post .post-header .post-meta{padding-top:5px;color:#43474C;}.post .post-header .post-meta .meta{margin:0px 6px;display:inline-block;}.post .post-header .post-meta .cat{padding-left:9px;}.post .post-content{margin:0 30px 10px;overflow:hidden;text-shadow:0px 1px 0 #FFF;font:13px/21px "Helvetica Neue",Helvetica,Arial,sans-serif;}.post .post-content p{margin-bottom:20px;}.post .post-content img{max-width:660px;height:auto;_width:expression(this.width > 660 ? "660px":this.width);}.post .post-content blockquote{margin-bottom:20px;margin-bottom:20px;padding:20px;font-style:italic;background:#eee;}.post .audio{width:510px;height:150px;overflow:hidden;margin:20px auto;box-shadow:0 0 20px rgba(0,0,0,0.3);border:1px solid #B7BBC0;}.post .audio .audio-image{float:left;width:150px;height:150px;overflow:hidden;}.post .audio .audio-content{float:right;width:330px;height:150px;overflow:hidden;padding-right:10px;}.post .audio .audio-content h3{padding-top:10px;font-size:20px;margin-bottom:10px;color:#333;font-family:"Microsoft YaHei";}.post .audio .audio-content p{margin:0px;white-space:nowrap;}.post .audio .audio-content p.author,.post .audio .audio-content p.musicablum{font-family:"Microsoft YaHei";margin-bottom:10px;color:#007722;}.post .audio .audio-content p.author strong,.post .audio .audio-content p.musicablum strong{color:#43474C;}.post .audio .audio-content p.author span{color:red;letter-spacing:0.2em;font-size:18px;}.post .video{text-align:center;margin:0px 0px 20px;overflow:hidden;}.post .video embed{display:block;margin-left:auto;margin-right:auto;}

/*-----------------------------------------------------------------------------------
	5.	Comments
-----------------------------------------------------------------------------------*/
.comments{padding:30px;text-shadow:0 1px 0 white;border-top:1px solid #cfd5d9;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);-o-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);}.comments h2{font-weight:normal;font-size:20px;}.commentlist{margin-bottom:10px;}.commentlist .comment-body{border-bottom:1px solid #D7D7D7;padding:10px 0 20px;margin:10px 0px;}.commentlist .comment-body .avatar{float:left;padding:5px;border:1px solid #CCC;width:48px;height:48px;border-radius:3px;box-shadow:0 2px 4px rgba(0,0,0,0.1);}.commentlist .comment-body:hover .avatar{-webkit-transition:all 1s ease 0s;-moz-transition:all 1s ease 0s;-ms-transition:all 1s ease 0s;-o-transition:all 1s ease 0s;transition:all 1s ease 0s;-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}.commentlist li.comment ul.children{margin:8px 0 8px 60px;}.commentlist .depth-1 .comment-wrap{width:590px;}.commentlist .depth-2 .comment-wrap{width:530px;}.commentlist .depth-3 .comment-wrap{width:470px;}.commentlist .depth-4 .comment-wrap{width:410px;}.commentlist .depth-5 .comment-wrap{width:350px;}.commentlist .comment-body .comment-wrap{display:inline;float:left;margin-left:10px;}.commentlist .comment-body .comment-wrap .reply-container{display:inline;float:right;}.commentlist .comment-body .comment-wrap a.comment-reply-link,.commentlist .comment-body .comment-wrap a.comment-edit-link,.comments .comment-content a{color:#4d90fe;}.commentlist .comment-body .comment-wrap .comment-content{padding-top:9px;}.comments .respond p{line-height:24px;}.comments .respond p.smilies{margin:0.5em 0px 0px;}.comments .respond p.smilies img{background:none !important;}.comments .respond input,.comments .respond textarea{outline:0px;font-family:"Microsoft Yahei",Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;color:#7B7B76;}.comments .respond input.text{width:180px;height:20px;line-height:20px;margin:0.5em 0;padding:2px;border:1px solid #BBBBBB;}.comments .respond input.checkbox{margin-right:3px;vertical-align:middle;}.comments .respond input.submit{border:none;cursor:pointer;height:29px;width:77px;line-height:29px;overflow:hidden;}.comments .respond .comment_mail{vertical-align:middle;cursor:pointer;}.comments .respond .textarea{margin:0.5em 0px;width:90%;border:1px solid #BBBBBB;padding:4px;overflow-y:hidden;}.comments .respond input.text:hover,.comments .respond input.text:focus,.comments .respond .textarea:focus,.comments .respond .textarea:hover{border:1px solid #88acf7;box-shadow:0px 0px 3px #88acf7;}.comments .respond .submit{color:#fff;font-size:13px;width:120px;padding:3px 5px;margin:2px 0px 10px 0px;border:1px solid #3079ed;cursor:pointer;background-color:#4d90fe;background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);background-image:-ms-linear-gradient(top,#4d90fe,#4787ed);background-image:-o-linear-gradient(top,#4d90fe,#4787ed);background-image:linear-gradient(top,#4d90fe,#4787ed);}

/*-----------------------------------------------------------------------------------
	6.	Pagination
-----------------------------------------------------------------------------------*/
.single-navigation{float:right;width:60px;height:26px;overflow:hidden;}.single-navigation div,.single-navigation div a{display:block;width:24px;height:24px;margin-top:2px;}.single-navigation .prev-single{float:left;}.single-navigation .next-single{float:right;}.single-navigation div a{opacity:0.5;margin:0px;}.single-navigation div a:hover{opacity:1;}.single-navigation .prev-single a{background-position:0px -342px;}.single-navigation .next-single a{background-position:0px -369px;}.pagenavi{margin:0 15px 0 12px;padding:10px 0px 20px;}.pagenavi a,.pagenavi span{padding:2px 8px;margin-right:5px;box-shadow:0px 0px 3px rgba(0,0,0,0.2);border:1px solid #B7BBC0;}.pagenavi span{color:#4D90FE;border:1px solid #4D90FE;}.pagenavi a:hover{border:1px solid #4D90FE;color:#4D90FE;}.page-links{margin:0 15px 0 12px;padding:10px 0px 20px;}.page-links a{padding:2px 8px;margin-right:5px;box-shadow:0px 0px 3px rgba(0,0,0,0.2);border:1px solid #B7BBC0;}.page-links a:hover{border:1px solid #4D90FE;color:#4D90FE;}

/*-----------------------------------------------------------------------------------
	7.	Footer Styles
-----------------------------------------------------------------------------------*/
.footer{color:#333;text-align:center;text-shadow:0px 1px 0 rgba(255,255,255,0.2);line-height:180%;font-size:13px;padding:15px 0px;}.footer a{color:#2970A6;}.footer a:hover{text-decoration:underline;}

/*-----------------------------------------------------------------------------------
	8.	Page & Page Templates
-----------------------------------------------------------------------------------*/
.archive-lists h4{margin-bottom:10px;font-size:14px;line-height:18px;color:#333;}.archive-lists ul{margin-left:30px;margin-bottom:15px;}.archive-lists ul li{list-style-type:circle;}.archive-lists ul li a{color:#4882B1;border-bottom:1px solid #C7C9CD;}.archive-lists ul li a:hover{text-decoration:none;color:#43474c;}.archive-lists .children{list-style-type:none;margin-left:30px;margin-bottom:0;}

/*-----------------------------------------------------------------------------------
	9.	Widgets
-----------------------------------------------------------------------------------*/
.widget{margin-bottom:20px;border:1px solid #B7BBC0;padding:20px;box-shadow:1px 2px 10px rgba(0,0,0,0.2);}.widget h3.title{margin:0px 0px 10px 0px;font-size:14px;border-bottom:1px solid #B7BBC0;padding-bottom:5px;}.widget ul{margin-bottom:5px;}.widget ul li{margin-bottom:5px;}.widget .tagcloud a{white-space:nowrap;font-size:12px !important;display:inline-block;border-bottom:1px dashed #DEDEDE;overflow:hidden;text-align:center;width:63px;padding:6px 0px;}.widget_search input{outline:none;width:92%;border:1px solid #B7BBC0;box-shadow:0 1px 3px rgba(0,0,0,0.2) inset;padding:5px 5px 5px 10px;color:#999;}.widge_pic ul li{margin:0px 0px 5px 5px;display:inline;float:left;width:60px;height:60px;overflow:hidden;}.widge_pic ul li a{background-color:#333;display:block;width:60px;height:60px;}.widge_pic ul li a:hover img{opacity:0.5;}#wp-calendar{empty-cells:show;width:196px;margin:0 auto;color:#6C6B63;}#wp-calendar a{display:block;text-decoration:none;font-weight:bold;color:#6C6B63;}#wp-calendar a:hover{text-decoration:none;}#wp-calendar caption{text-decoration:none;font:bold 13px Arial,Sans-Serif;}#wp-calendar td{padding:3px 5px;color:#9f9f9f;}#wp-calendar td#today{color:#ffffff;}#wp-calendar th{font-style:normal;text-transform:capitalize;padding:3px 5px;}#wp-calendar #prev a,#wp-calendar #next a{font-size:9pt;}#wp-calendar #next a{padding-right:10px;text-align:right;}#wp-calendar #prev a{padding-left:10px;text-align:left;}

/*-----------------------------------------------------------------------------------
	10.	phzoom
-----------------------------------------------------------------------------------*/
#ph_lay,#ph_zoom{top:0;left:0;width:100%;z-index:9999;display:none}#ph_lay{position:fixed;height:100%;_height:expression(Math.max(documentElement.clientHeight,body.scrollHeight)+'px');_position:absolute}#ph_zoom{overflow-x:hidden;position:absolute}#ph_zoom span{margin:0;padding:0 9px;float:right;color:inherit}#ph_lay,#ph_cap,#ph_nav span{background:#000}#ph_cap,#ph_nav{cursor:pointer;font-size:14px;line-height:21px;position:absolute}#ph_nav #ph_prev,#ph_cap #ph_txt{float:left}.zoomed{margin:0;padding:0;max-width:none;cursor:pointer;position:absolute}.phzoom{position:relative;display:inline-block;max-width:100%}.ph_hover{top:0;left:0;width:100%;height:100%;display:block;position:absolute;background:url(images/zoom.png) no-repeat 50% 50%}.phzoom .loading{background:url(images/loading.gif) no-repeat 50% 50%}

.logo {
	position: absolute;
	top: 1rem;
	left: 2rem;
	z-index: 9999999;
	width: 7rem;
}
a.back-to-site {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	position: absolute;
	right: 2rem;
	top: 0.7rem;
	z-index: 9999999;
	font-size: 21px;
}
.header_logo {
	background: #f5942e;
	width: 100%;
	position: absolute;
	-webkit-transform: skewY(-1deg);
	-moz-transform: skewY(-1deg);
	-ms-transform: skewY(-1deg);
	-o-transform: skewY(-1deg);
	transform: skewY(-1deg);
	height: 4.8rem;
	top: -1rem;
	left: 0;
	z-index: 9999998;
}
