/*@charset "utf-8";*/
/*body {*/
    /*background: url(../img/bg.jpg);*/
    /*overflow: hidden;*/
/*}*/

#image_parent {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#image_parent div {
    position: absolute;
    -webkit-transition: 1.5s all ease-in-out;
    -moz-transition: 1.5s all ease-in-out;
    -ms-transition: 1.5s all ease-in-out;
    -o-transition: 1.5s all ease-in-out;
    border: 6px solid white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    left: -300px;
    top: -300px;
    cursor: pointer;
}

#image_parent div span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: 1.5s opacity ease-in-out;
    -moz-transition: 1.5s opacity ease-in-out;
    -ms-transition: 1.5s opacity ease-in-out;
    -o-transition: 1.5s opacity ease-in-out;
}

#image_parent .active {
    border: 1px solid white;
    box-shadow: 0px 0px 2px black;
}

/*#image_parent a{*/
    /*-webkit-transition:all .5s ease .5s;*/
/*}*/
/*#image_parent a:hover,#image_parent a:active {*/
    /*-webkit-transform:scale(1.2);*/
    /*-moz-transform:scale(1.2);*/
    /*transform:scale(1.2);*/
    /*-webkit-transform: scale(1.05);*/
    /*-moz-transform: scale(1.05);*/
    /*-ms-transform: scale(1.05);*/
    /*-o-transform: scale(1.05);*/
    /*transform: scale(1.05);*/
    /*z-index: 3;*/
/*}*/
